.container {
    text-align: center;
}
.login {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    margin-top: 50px;
    height: 150px;
    justify-content: space-around;
}
.btn-group {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.errorMsg {
    color: red;
}